@font-face {
    font-family: 'primaryFont';
    src: url('./fonts/Satoshi-Regular.woff2') format('woff2'),
      url('./fonts/Satoshi-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: 'headerFont';
    src:  url('./fonts/hiromisake.ttf') format('ttf'),
    url('./fonts/Sdasian-WyDon.ttf') format('ttf');
    font-weight: 900;
    font-style: bold;
}

body{
    background-color: #f3ede1;
    margin: 0;
}

#navbar{
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}

#nav-items{
    display: inline;
    float: right;
    
}

a{
    text-decoration: none;
    padding: 14px 25px;
    border: 0;
    font-family: primaryFont;
}

a:link{
    color: #333F72;
}

a:active, a:hover{
    color: #E56E0C
}

#title {
    font-family: headerFont;
    font-size: 24px;
    color: #333F72;
}

hr{
    margin-bottom: 0px;
    margin-top: 16px;
    color:#E9DAC6;
    border: 1px solid #E9DAC6;
    height: 1px; 
    margin-left: 0;  
}

